@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Wij zijn Topteam</h1>
<p>Op zoek naar een opdracht voor Project Web Development</p>