@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.jpg">
        <h1 class="person-name">Yusuf Kemal Öztürk</h1>

    </section>

    <section class="profile">
        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Enthousiaste, zeer gemotiveerde student Softwareontwikkeling met vaardigheden en interesse in back-end programmeren(PHP en ASP.NET) die graag initiatief neemt en op zoek gaat naar nieuwe uitdagingen.
                <p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Software Developer (MBO-4)</h4>
                    <p class="profile-content__period">augustus 2020 - juli 2023</p>
                </div>
                <p class="profile-content__institute">ROC Friese Poort, Sneek</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">augustus 2023 - heden</p>
                </div>
                <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
            </div>
            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Skills</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Software Developer (MBO-4)</h4>
                    <p class="profile-content__period">augustus 2020 - juli 2023</p>
                </div>
                <p class="profile-content__institute">ROC Friese Poort, Sneek</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">augustus 2023 - heden</p>
                </div>
                <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
            </div>
        </section>

    </section>
</div>
